body {
    min-height: 1000px;
}

.navbar-static-top {
    margin-bottom: 19px;
    background-color: white;
    border-color: darkblue;
    font-size: large;
}

.navbar-default .navbar-brand {
    color: darkblue;
}

.navbar-default .navbar-brand:hover {
    color: yellow;
}

.navbar-default .navbar-nav > li > a {
    color: darkblue;
}

.navbar-default .navbar-nav > li > a:hover {
    color: yellow;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-toggle:hover {
    background-color: #1A5F23 !important;
}

.navbar-toggle {
    background-color: #0E3D14 !important;
}