{% extends "base.html" %}



{% block content %}



    <div class='col-sm-4'>
        <h2>{{ object.title }}</h2>
    </div>
    <!--  Product Side-Bar   -->
    <div class='col-sm-4'>
        <h2>{{ object.hotel.title }}</h3>
    </div>
    <div class='col-sm-4'>
        <h2>Date last updated</h3>
    </div>
    <div class='col-sm-12'>
        <h2>{{ object.description }}</h2>
    </div>


{% endblock %}