{% extends "base.html" %}



{% block content %}
    {% if object_list.count > 0 %}
        <table class='table'>
            {% for object in object_list %}
                <tr>
                    <td><a href='{{ object.get_absolute_url }}'>{{ object.code }}</td>
                    <td>{{ object.title }}</td>
                    <td>{{ object.hotel.title }}</td>
                    <td><a href='{{ object.get_extraction_url }}' class="btn btn-primary" role="button">extraction</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h1> You are not registered to any hotel please contact KTS to be registered on some hotels. </h1>

    {% endif %}
{% endblock %}