{% extends "base.html" %}



{% block content %}

    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>About Us</h1>

            <p><em>KTS Voyages,</em></p>

            <p>47-49, rue des Mathurins- 75008 Paris- France</p>

            <p><b>Tel:</b> 00 33 (0)1 58 36 66 66<br/>
                <b>Fax:</b> 00 33 (0)1 58 36 66 69<br/>
                <b>Hours:</b> 9:00am - 6:30pm
            </p>

            <p><b>Email:</b> <a href="mailto:incoming@ktsvoyages.fr">incoming@ktsvoyages.fr</a></p>

            <p><b>Web site:</b> <a href="www.gatetofrance.com">www.gatetofrance.com</a></p>

            <p>
                Since its founding in 1952, KTS Voyages has grown continuously into the largest privately owned travel
                company in France, with numerous branch offices all across Europe, Middle East & Gulf Area. Then and
                now, the family owning KTS voyages acts in person to guarantee continuity, reliability and quality.
            </p>

            <p>
                That quality has found public recognition on several occasions, e.g. through the Tours Business (Inbound
                and Outbound Tour Operating) & the Travel Business ( in France and Monte Carlo, Business department and
                traditional travel agency), Clockwork perfection and reliability serve as our guiding principles,
                demands we strive to meet every single day.
            </p>

        </div>

    </div>


{% endblock %}