{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
    {% block style %}
        .navbar-static-top {
            margin-bottom: 0px !important;
        }

        .jumbotron {
            background-color: darkblue;
            color: white;
        }

        .jumbotron h1 {
            font-size: 63px;
            font-family: fantasy;
        }

    {% endblock %}
</style>



{% block jumbotron %}



    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <h1>KTS data services</h1>

                    <p>KTS data services is designed to provide prices for our clients</p>
                    {% if not request.user.is_authenticated %}
                        <p>
                            <a class="btn btn-lg btn-primary" href="{% url 'contact' %}" role="button">Join
                                Us &raquo;</a>
                        </p>
                    {% endif %}
                </div>
                <div class='col-sm-6'>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/2uLYO1LUf6Q" frameborder="0" allowfullscreen></iframe> -->

                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block content %}



{% endblock %}
