{% extends "base.html" %}



{% block content %}

    <table class='table' align="center">

        <td><h6>KTS ID</h6></td>
        <td><h6>Name</h6></td>
        <td><h6>Age Max Bebe</h6></td>
        <td><h6>Age Max Enfant</h6></td>
        <td><h6>Age Max Ado</h6></td>
        <td><h6>Active</h6></td>

        {% for object in object_list %}
            <tr>
                <td>{{ object.kts_id }}</td>
                <td>{{ object.title }}</td>
                <td>{{ object.age_max_bebe }}</td>
                <td>{{ object.age_max_enfant }}</td>
                <td>{{ object.age_max_ado }}</td>
                <td>{{ object.active }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}

