{% extends "base.html" %}



{% block content %}

    <table class='table' align="center">

        <td><h6>Room</h6></td>
        <td><h6>Hotel</h6></td>
        <td><h6>Min Pers</h6></td>
        <td><h6>Max Pers</h6></td>
        <td><h6>Min Adult</h6></td>
        <td><h6>Max Adult</h6></td>

        {% for object in object_list %}
            <tr>
                <td>{{ object.label_EN }}</td>
                <td>{{ object.program.hotel.title }}</td>
                <td>{{ object.min_pers }}</td>
                <td>{{ object.max_pers }}</td>
                <td>{{ object.min_adult }}</td>
                <td>{{ object.max_adult }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}