{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
    {% block style %}
        .navbar-static-top {
            margin-bottom: 0px !important;
        }

        .jumbotron {
            background-color: #0E3D14;
            color: #FFF;
        }

    {% endblock %}
</style>



{% block jumbotron %}
    {% if not request.user.is_authenticated %}


        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <h1>KTS Extractions</h1>

                        <p>KTS Extraction is designed to provide prices for our clients</p>

                        <p>
                            <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
                        </p>
                    </div>
                    <div class='col-sm-6'>
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/2uLYO1LUf6Q" frameborder="0" allowfullscreen></iframe> -->

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}




{% block content %}
    {% if request.user.is_authenticated %}
        <form action="{% url 'database' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="update_database" value="UpdateDatabase"/>
        </form>

        <form action="{% url 'database' %}" method="post">
            {% csrf_token %}
            {{ update_form }}
            <input type="submit" name="send_updates" value="SendUpdate"/>
        </form>



    {% endif %}

{% endblock %}